### Jupyter Notebook ###
*/.ipynb_checkpoints/*

### R ###
.Rhistory
.RData

### RStudio ###
debug.log
titanic-decision-trees.Rproj

### LaTex ###
/slides/slides.aux
/slides/slides.log
/slides/slides.nav
/slides/slides.out
/slides/slides.snm
/slides/slides.synctex.gz
/slides/slides.tex
/slides/slides.toc